body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#grid {
  display: flex;
  width: 90%;
  margin: 2rem 5%;
}
  
#grid .column {
  display: flex;
  flex-direction: column;
  width: 16.66%;
}

#grid .column .selector {
  background-color: white;
  font-size: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

#grid .column .slot {
  padding: 25%;
  border: 1px solid #000;
  display: flex;
  background-color: #fff;
}

#grid .column .slot::before {
  content:"";
  height: 100px;
  width: 100px;
  margin:auto;
  background-color: #fff;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

#grid .column .slot.color-1::before {
  opacity: 1;
  background-color: red;
  border-radius:50%;
}

#grid .column .slot.color-2::before {
  opacity: 1;
  background-color: black;
  border-radius:50%;
}